.Container {
  background-color: #323334;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  height: 140px;
  align-items: center;
  padding: 16px;
}

.SearchInput {
  border: none;
  background-color: transparent;
  border: 1px solid #ff0909;
  border-radius: 5px;
  color: white;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
}

.SearchInput::placeholder {
  color: white;
}

.SearchInput:focus {
  outline: none;
}

.filterContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-bottom: 40px;
  flex-wrap: wrap;
}

@media (0 < width < 600px) {
  .topContainer {
    flex-direction: column;
    height: 120px;
  }
}
